/* スタイル定義: chaika */
/*
	chaikaのDefaultスキン風のスタイル
*/
:root{
	/* Chameleon Style Colors from chrome://global/skin/in-content/common.css */
	--in-content-page-color: #424e5a;
	--in-content-page-background: #fbfbfb;
	--in-content-text-color: #333;
	--in-content-border-highlight: #ff9500;
	--in-content-border-focus: #0095dd;
	--in-content-border-color: #aaa;

	/* chaika colors */
	--chaika-inverted-color: #fff;
	--chaika-inverted-background: rgba(60, 60, 60, 0.8);
	--chaika-inverted-item-hover: rgba(60, 60, 60, 1.0);
	--chaika-highlight-color: #ff9500;
	--chaika-warning-color: #d74345;
	--chaika-post-name-color: #369;
}

/* ページ背景のスタイル ---------------------------------------------------- */
html {
	color: var(--in-content-page-color);
	background-color: var(--in-content-page-background);
	line-height: 1.5;
}
body {
	margin: 4.5em 0 0 0;
}

/* リンクのスタイル -------------------------------------------------------- */

/* ヘッダのスタイル -------------------------------------------------------- */
#header {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0.6em;
	width: 100%;
	color: var(--chaika-inverted-color);
	background-color: var(--chaika-inverted-background);
	font-size: 0.9em;
	line-height: 1.0;
	z-index: 1;
}
h1 {
	margin: 0;
	font-size: 100%;
	white-space: nowrap;
	overflow: hidden;
}
h1 > a { color: #EEE; text-decoration: none; }
h1 > a:visited { color: #FFFFEE; }

#boardName {
	background: url("img/goup.png") no-repeat left center;
	padding-left: 12px;
}
#resCount::before { content: "("; }
#resCount::after  { content: ")"; }
#statusText { font-size: 0.9em; margin-left: 8px; }
.throbber { background: url("img/throbber.gif") no-repeat left center; }
.ok       { background: url("img/ok.png")       no-repeat left center; }
.warning  { background: url("img/warning.png")  no-repeat left center; }
.error    { background: url("img/error.png")    no-repeat left center; }

/* コマンドアイコンのスタイル ---------------------------------------------- */
#command {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 24px;
	line-height:24px;
	color: #EEE;
	font-size: 11px;
	background-color: #666;
	-moz-user-select: none;
}
#command > ul > li { padding: 8px 0px 2px 0px; }
#command > ul > li#autoReload {
	position:relative;
	top:1px;
	background: url("img/lego/reload.png") no-repeat left center;
	padding-left: 20px;
}
#command > ul > li#autoReload:hover { position:relative; top:2px; }
#command > ul > li#autoScroll.scrolloff {
	position:relative;
	top:1px;
	background: url("img/lego/scroll.png") no-repeat left center;
	padding-left: 20px;
}
#command > ul > li#autoScroll.scrollon  {
	position:relative;
	top:1px;
	background: url("img/lego/scrollon.png") no-repeat left center;
	padding-left: 20px;
}
#command > ul > li#autoScroll:hover { position:relative; top:2px; }
#command > ul > li#showAll { display: none; }
#command > ul > li#writeTo {
	position:relative;
	top:2px;
	background: url("img/writeto.png") no-repeat left center;
	padding-left: 20px;
}
#command > ul > li#find {
	position:relative;
	top:1px;
	background: url("img/find.png") no-repeat left center;
	padding-left: 20px;
}
#command > ul > li#chevron::before {
	content: "MENU";
	font-size: 120% !important;
	font-weight: bold;
	padding-right: 0.5em;
}
#command > ul > li#goPrev {
	position:relative;
	top:3px;
	background: url("img/goup.png") no-repeat left center;
	padding-left: 16px;
}
#writeToText { display: none; }
#findText    { display: none; }
#chevronText { display: none; }

/* 検索関連のスタイル ------------------------------------------------------ */
#findbox { color: MenuText; }
#findbox > div > div { border: 1px solid ThreeDShadow; }
strong { color: white; background-color: orange; font-weight: normal; }

/* ヘッダ部周辺のその他のスタイル ------------------------------------------ */

/* コンテンツ表示部のスタイル ---------------------------------------------- */

/* フッタのスタイル -------------------------------------------------------- */

/* 新着区切りのスタイル ---------------------------------------------------- */
#NewMark { visibility: hidden; height: 0px; width: 100%; margin: 0px; padding: 0px; }

/* レス表示部のスタイル ---------------------------------------------------- */
.resContainer {
	margin-bottom: 18px;
	margin-left: 5px;
	border-left: 5px solid transparent;
	padding: 0px 0px 15px 16px;
}
/* レス表示切替 */
.resContainer { display: block; }
.resContainer[hide] { display: none; }
/* レスヘッダ部 */
.resHeader, .resNewHeader {
	font-size: 0.8em;
	font-weight: normal;
	vertical-align: top;
	white-space: nowrap;
}
/* レス番号部 */
.resNumber { float:left; }
.resNumber  > a {
	float: left;
	font-weight: bold;
	color: var(--in-content-text-color);
	text-decoration: none;
	cursor: pointer;
}
.resNewHeader .resNumber > a { color: var(--chaika-highlight-color); }
.resNumber .count {
	float: left;
	font-weight: normal;
	text-decoration: none !important;
	font-size: 90% !important;
}
.resNumber .count::before { content: "("; }
.resNumber .count::after { content: ")"; }
/* 名前欄 */
.resName { margin-left: 0.2em; font-weight: bold; font-size: 1.1em; color: var(--chaika-post-name-color); }
.resSystem { font-weight: normal; }
/* メール欄 */
.resMail { display: inline; color: black; font-weight: normal;}
/* 投稿日時欄 */
.resDate { color: #888; }
/* ID欄 */
.resID { color: #888; text-decoration: underline;}
.resID[rel=""] { visibility: hidden; }
/* 本文 */
.resBody 	{ margin-top: 16px; padding-top: 11px; padding-left: 25px; color: var(--in-content-text-color); }
.popupName 	{ color: #FE5D47; cursor: pointer; text-decoration: underline; }
.resMesID 	{ text-decoration:none !important; }

/* あぼーんのスタイル ------------------------------------------------------ */
div[aboned="true"] .resInfoAbone { font-weight: bold; color: #369; font-size: 95%; text-decoration: none; }
div[aboned="true"] .resInfoAbone::after { content: " (" attr(title) ")"; font-weight: bold; color: #369; font-size: 95%; }
div[concealed="true"] .resInfoAbone { display: inline-block; margin-left: 0.2em; padding-bottom: 0.5em; }

/* 自分/返信レス強調関連のスタイル ----------------------------------------- */
/* 返信 */
.highlighted.reply-to-me .resHeader,
.highlighted.reply-to-me .resNewHeader { background-color: transparent !important; }
.highlighted.reply-to-me { border-left: 5px solid var(--in-content-border-focus); }
.reply-to-me .resName::before { content: "返信: "; font-weight: bold; color: var(--in-content-border-focus); }
/* 自分（こちらが優先） */
.highlighted.my-post .resHeader,
.highlighted.my-post .resNewHeader { background-color: transparent !important; }
.highlighted.my-post { border-left: 5px solid var(--in-content-border-color); }
.my-post  .resName::before { content: "自分: "; font-weight: bold; color: var(--in-content-border-color); }

/* しおりのスタイル -------------------------------------------------------- */

/* 外部リンクのスタイル ---------------------------------------------------- */
/* 埋め込み画像・動画 */
.embedImage { border: none; }
.embedLast { padding: 0px; }
.embedGroup { margin-left: 20px; margin-top: 10px; }
.popupBorder .embedImage { opacity: 0.8; background: none; }

/* ポップアップのスタイル -------------------------------------------------- */
.resPopup { font-size: 0.9em; border: 0px; margin: 0px;}
.popupContainer .popupHeader { font-size: 0.8em; }
.popupContainer { color: #FFF; }
.popupBorder {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-shadow: 0 0 12px #333333;
	padding: 22px 10px 10px;
	background:rgba(60,60,60,0.85);
	color: #eee !important;
}
.popupBorder * { color: #FFF !important; }
.popupBorder .resInfo { float: none; }
.popupBorder .resBody { margin-top: 0.0em; }

.popupImage * .imgPopup,
.popupImageC * .imgPopup {
	background: url("img/loading.png") repeat scroll 0 0 transparent;
	border: 0 none;
	cursor: -moz-zoom-in;
	left: 5px;
	max-width: 256px;
	position: relative;
	top: 2px;
}
.popupImage * .urlPopup,
.popupImageC * .urlPopup { top: 2px; position: relative; left: 4px; }
.popupImage * .imgLargePopup,
.popupImageC * .imgLargePopup {
	background-repeat: no-repeat;
	cursor: -moz-zoom-out;
	left: 8.3px;
	position: relative;
	top: 2px;
	width: 100%;
}

/* コンテキストメニューのスタイル ------------------------------------------ */
#contextThreadItem { color: #fff; }

.contextMenu * .popupBorder {
	border-radius: 0 0 0 0;
	box-shadow: none;
	background: none repeat scroll 0 0 rgba(60, 60, 60, 0.85);
	color: #FFFFFF;
	padding: 0px;
	border: solid 1px #111;
}
.contextMenu * .popupBody { top:0px; left:0px; }
.contextMenu * li:hover { background-color: #888 !important; color: HighlightText; }
.contextMenu * li.selectedMore { background-color: Highlight!important; color: HighlightText; }
.contextMenu * hr { width: 100%; margin: 0px; display: none; }
.contextMenu * li span { color: #fff; }
.contextMenu * a:link { color: MenuText; }
.contextMenu * a:visited { color: MenuText; }
.contextMenu * a:hover { color: Highlight!important; }

/* ダイアログのスタイル ---------------------------------------------------- */
