#fox { background: url("img/loading.png") no-repeat left center; padding: 0px 0px 0px 12px; font-size: 0.8em; font-weight: normal; -moz-user-select: none; }
.resNumber { width: 2.2em!important; text-align: left!important; }
.resInfo		{ margin-left:0em!important; }
.resName		{ font-size: 1.2em!important;}
.resBody {margin-left:3em !important; }

body[host*=".2ch.sc"] #header 			{ background-color: #fa8072; }
body[host*=".2ch.sc"] #command 			{ background-color: #fa8072; }
body[host*=".2ch.sc"] #footer 			{ background-color: #fa8072; }
body[host*=".shitaraba.net"] #header 	{ background-color: #2834a6; }
body[host*=".shitaraba.net"] #command 	{ background-color: #2834a6; }
body[host*=".shitaraba.net"] #footer 	{ background-color: #2834a6; }
body[host*=".open2ch.net"] #header 		{ background-color: #cd853f; }
body[host*=".open2ch.net"] #command 	{ background-color: #cd853f; }
body[host*=".open2ch.net"] #footer 		{ background-color: #cd853f; }
body[host="blogban.net"] #header 		{ background-color: #87ceeb; }
body[host="blogban.net"] #command 		{ background-color: #87ceeb; }
body[host="blogban.net"] #footer 		{ background-color: #87ceeb; }
body[host="next2ch.net"] #header 		{ background-color: #666666; }
body[host="next2ch.net"] #command 		{ background-color: #666666; }
body[host="next2ch.net"] #footer 		{ background-color: #666666; }
*/