/* スタイル定義: MIXライク */
/*
	smorgas-mix系スキン風スタイル

	lego-exの軽量化対策として同梱されたスタイルです
*/
/* ページ背景のスタイル ---------------------------------------------------- */
body { background-color: #EFEFEF; }

/* リンクのスタイル -------------------------------------------------------- */

/* ヘッダのスタイル -------------------------------------------------------- */
#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 32px;
	margin: 0;
	padding: 0;
	background-color: #000;
	z-index: 1;
}
h1 {
	margin: 0;
	padding: 1px 0 0 24px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	color: #FFFFEE;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
}
#boardName::before { content: "#"; }
#resCount::before { content: "("; }
#resCount::after  { content: ")"; }

/* コマンドアイコンのスタイル ---------------------------------------------- */
#command {
	position: absolute;
	top: 0;
	right: 0;
	height: 32px;
	line-height: 32px;
	color: #FFFFEE;
	font-size: 11px;
	background-image: url("img/header.png");
	-moz-user-select: none;
	user-select: none;
}
#command > ul > li#showAll 		{ display: none; }
#command > ul > li#goPrev  		{ display: none; }
#command > ul > li.div::after	{ padding: 0 1px; content: "|"; }

/* 検索関連のスタイル ------------------------------------------------------ */
strong { color: white; background-color: orange; font-weight: normal; }

/* ヘッダ部周辺のその他のスタイル ------------------------------------------ */

/* コンテンツ表示部のスタイル ---------------------------------------------- */
#content {
	border-width: 0 1px 1px;
	border-color: #CCCCCC;
	border-style: solid;
	padding-top: 32px;
}

/* フッタのスタイル -------------------------------------------------------- */
#footer { background-color: #000000; }

/* 新着区切りのスタイル ---------------------------------------------------- */
#NewMark {
	visibility: hidden;
	height: 0;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* レス表示部のスタイル ---------------------------------------------------- */
.resContainer {
	color: #000;
	border-top: 1px dotted;
	border-color: #CCCCCC;
	margin: 0;
	padding: 8px 16px;
}
/* レス表示切替 */
.resContainer { display: block; }
.resContainer[hide] { display: none; }
/* レスヘッダ */
.resHeader, .resNewHeader { white-space: nowrap; }
/* レス番号部 */
.resHeader    .resNumber > a { color: #096CE6; text-decoration: none; }
.resNewHeader .resNumber > a { color: #FE5D47; text-decoration: none; }
.resNumber div.count {
	color: #096CE6 !important; font-size: 0.7em !important; line-height: 0.8em !important;
}
.resNewHeader > .resNumber div.count { color: #FE5D47 !important; }
.resNumber {
	float: left;
	width: 4em;
	font-size: 1.2em;
	font-weight: bold;
	text-align: right;
}
.tbNum { text-decoration: underline !important; }
/* 名前欄 */
.resName { margin-left: 0.7em; color: red; font-weight: bold; text-decoration: underline; }
.resName[title=""] { color: green; }
.resName[title^="sage"] { color: black; }
/* メール欄 */
.resMail { color: red; font-weight: bold; }
.resMail[title=""] { display: none; }
.resMail[title^="sage"] { display: none; }
/* 本文 */
.resBody { padding: 0; margin-top: 1px; margin-left: 5.5em; }

/* あぼーん関連のスタイル -------------------------------------------------- */

/* しおりのスタイル -------------------------------------------------------- */

/* 外部リンクのスタイル ---------------------------------------------------- */

/* ポップアップのスタイル -------------------------------------------------- */
.shadowTopRight {
	background: url("img/topright.png") no-repeat top right;
}
.shadowBottomLeft  {
	background: url("img/bottomleft.png") no-repeat bottom left;
}
.shadowBottomRight {
	background: url("img/bottomright.png") no-repeat bottom right;
	padding: 0 4px 4px 0;
}
.shadowRight {
	background: url("img/right.png") repeat-y right;
	position: relative;
	left: 5px;
	top: 1px;
}
.shadowBottom {
	background: url("img/bottom.png") repeat-x bottom;
	position: relative;
	left: -4px;
	top: 4px;
}

/* コンテキストメニューのスタイル ------------------------------------------ */
#contextCopy { background: none; }
#contextHistory { background: none; }
#contextThreadItem { background: none; }
#contextFolderClosed { background: none; }

/* ダイアログのスタイル ---------------------------------------------------- */
