/* スタイル定義: 共通 */
/* ページ背景のスタイル ---------------------------------------------------- */
body { margin: 0; padding: 0; }

/* リンクのスタイル -------------------------------------------------------- */
a { color: #096CE6; }
a:visited { color: #FE5D47; }
#threadName, #statusText, .resPointer { cursor: pointer }

/* ヘッダのスタイル -------------------------------------------------------- */
h1 > a { color: #FFFFEE; text-decoration: none; }
h1 > a:visited { color: #FFFFEE; }
#boardName {
	padding-top: 4px;
	margin-right: 4px;
	font-size: 0.8em;
	font-weight: normal;
	-moz-user-select: none;
}
#resCount { margin-left: 2px; font-size: 0.7em; }
#datSize { margin-left: 1px; font-size: 0.7em; font-weight: normal; }
#statusText {
	font-size: 0.8em;
	font-weight: normal;
	padding: 8px 8px 8px 20px;
	-moz-user-select: none;
}

/* コマンドアイコンのスタイル --------------------------------------------------- */
#command > ul {
	display: inline;
	margin: 0px;
	padding: 0px;
}
#command > ul > li {
	display: inline;
	cursor: pointer;
	margin: 0px;
	padding: 8px 0px 8px 0px;
	vertical-align: middle;
}

/* 検索関連のスタイル ----------------------------------------------------- */
#findbox {
	position: fixed;
	top: 33px;
	right: 0px;
	font: Menu;
	color: black;
	display: none;
}
#findbox > div { background: url("img/bottomleft.png") no-repeat bottom left; padding-bottom: 4px; }
#findbox > div > div { background-color: #fff; border: 1px solid #a0a0a0; }
#findbox > div > div > div {
	position: relative;
	left: 8px;
	top: 5px;
	background: url("img/bottom.png") repeat-x bottom;
}
#findbox > div > div > div > div {
	position: relative;
	left: -8px;
	top: -5px;
	margin: 0px;
	padding: 2px;
}
#findbox > div > div > div > div > div {
	padding-right: 16px;
	background: url("img/clear.png") no-repeat right center;
	cursor: pointer;
}
#findboxText {
	font: message-box;
	border: 0px;
	padding: 2px 2px 2px 16px;
	width: 21em;
	background: url("img/finddefault.png") no-repeat left center;
}
#findboxText.found {
	background: url("img/findfound.png") no-repeat left center;
}
#findboxText.notfound {
	background: url("img/findnotfound.png") no-repeat left center;
}
#findStrong { vertical-align: middle; }

/* ヘッダ部周辺のその他のスタイル ---------------------------------------------- */
#moremoreInfo {
	position: fixed;
	top: 35px;
	right: 15px;
	font-size: 9pt;
	padding-left: 15px;
	color: #ed6d35;
	visibility: hidden;
	font-family: "Comic sans MS",sans-serif;
}
#showBar {
	position: fixed;
	top: 8px;
	right: 15px;
	cursor: pointer;
	visibility: hidden;
	background: url("img/mix/show.png") no-repeat center center;
}
#showBar:hover { background-color: lightpink; }
#showBarText { visibility: hidden; }

/* コンテンツ表示部のスタイル ------------------------------------------------- */

/* フッタのスタイル -------------------------------------------------------- */
#footer {
	padding: 14px 8px 14px 8px;
	line-height: 0px;
	text-align: right;
	vertical-align: middle;
	font-size: 0.8em;
	color: #FFF;
}
#footer ul {
	display: inline;
	margin: 0px;
	padding: 0px;
	-moz-user-select: none;
}
#footer ul li {
	display: inline;
	margin: 0px;
	padding: 0px;
	cursor: default;
}
#footer ul li[id] { cursor: pointer; }

/* 新着区切りのスタイル ---------------------------------------------------- */

/* レス表示部のスタイル ---------------------------------------------------- */
.resContainer { padding-right: 8px !important; } /* しおり挿入のクリック範囲確保のため */
/* レス番号部 */
/* colle用メールアイコン */
.resMailIcon { display: none; }
/* 名前欄 */
.resName { cursor: pointer; }
/* メール欄 */
.resMail::before { content: " ["; }
.resMail::after { content: "] "; }
/* 日付欄 */
/* ID */
.resID { text-decoration: underline; }
.resID[rel=""] { visibility: hidden; }
.resID[lv] { cursor: pointer; }
.resID1 { color: #096CE6; cursor: pointer; text-decoration: underline; }
.resID2 { color: #FE5D47; cursor: pointer; text-decoration: underline; } /* スレッド情報ダイアログで使用している */
.resMesID span { text-decoration: underline; }
.resBeID:not(:empty)::before { content: "Be:"; }
/* システム文字 */
.resSystem  { font-weight: normal; }
/* BeID */
/* colle用IDアイコン */
.resIDIcon { display: none; }
/* 本文 */
/* ポップアップ名 */
.popupName { color: #FE5D47; cursor: pointer; text-decoration: underline; }
/* レス選択・検索マーク */
.resMatch  { background: url("img/lego/bgmatch.png"); }
.resSelected { background: url("img/bgselected.png"); }

/* あぼーん関連のスタイル --------------------------------------------------- */
.resInfoAbone { cursor: pointer; }
/* ↓クラス指定じゃないのはポップアップにも適用させるため クラス指定の場合は .resContainer と .resPopup の両方を書く */
div[concealed="true"] .resName,
div[concealed="true"] .resMail,
div[concealed="true"] .resDate,
div[concealed="true"] .resID,
div[concealed="true"] .resBeID,
div[concealed="true"] .resBody,
div[aboned="false"] .resInfoAbone {
	display: none;
}
div[concealed="true"] .resInfoAbone {
	display: block;
	margin-left: 5.5em;
	padding-bottom: 1.2em;
	width: -moz-max-content;
}
div[aboned="true"] .resInfoAbone {
	color: #9F9F9F;
	font-weight: bold;
	text-decoration: underline;
}
div[aboned="true"] .resBody { color: #9F9F9F; }

/* 自分/返信レス強調関連のスタイル -------------------------------------------- */
/* 実際には下記と同様のルールをスクリプトで動的に生成しています */
/* 返信 */
/* .highlighted.reply-to-me .resHeader { background-color: #b0c4de; } */
/* .reply-to-me	.resName::before 	{ content: "返信: "; } */
/* 自分（こちらが優先） */
/* .highlighted.my-post  .resHeader	{ background-color: #c1c1c1; } */
/* .my-post 		.resName::before { content: "自分: "; } */

/* しおりのスタイル -------------------------------------------------------- */
#bookmark {
	position:absolute;
	cursor: pointer;
	right: 0px;
	background: url("img/bookmark.png") no-repeat top left;
	width: 234px;
	height:64px;
}

/* 外部リンク ----------------------------------------------------------- */

/* インライン画像・動画 ----------------------------------------------------- */
.embedImage {
	margin: 0px !important;
	padding: 0px !important;
	border: 0px;
	background-color: #FFFFFF !important;
}
.embedInline {
	vertical-align: top !important;
	border: solid 1px #999;
}
.embedLast {
	vertical-align: top !important;
	display: inline-block !important;
	border: solid 1px #999;
	padding: 0px 1px;
}
/* 読み込み中・エラーアイコン */
.embedInline[state="lazy"] { background: url("img/throbber.gif") center center no-repeat; }
.embedInline[state="loading"] { background: url("img/throbber.gif") center center no-repeat; }
.embedInline[state="done"] { background: none; }
.embedInline[state="error"] { background: url("img/img-error16.png") center center no-repeat; }
.embedLast[state="lazy"] { background: url("img/throbber.gif") center center no-repeat; }
.embedLast[state="loading"] { background: url("img/throbber.gif") center center no-repeat; }
.embedLast[state="done"] { background: none; }
.embedLast[state="error"] { background: url("img/img-error16.png") center center no-repeat; }


/* ポップアップのスタイル ----------------------------------------------------- */
.resPopup {
	font-size: 0.8em;
	border: 0px;
	margin: 0px;
	padding: 8px 16px;
	background: none;
}
.popupContainer .popupHeader { font-size: 0.8em; }
.popupContainer {
	position:absolute;
	max-width: 50em;
	min-width: 5em;
	z-index: 4;
}
.popupBorder {
	padding: 7px 0px 0px 7px;
	background-color: #ffffe1/*infobackground*/;
	border: 1px solid #646464/*WindowFrame*/;
}
.popupBody  {
	position:relative;
	padding: 0px 7px 0px 0px;
	top:-9px;
}
.popupResList { position:absolute; max-width: 50em; font-size: 0.8em; z-index: 4; }
.trackBack { display: block; }

.popupImage,
.popupImageC 					{ position:absolute; z-index: 4; }
.popupImage * .popupBody,
.popupImageC * .popupBody 		{ position:relative; padding: 0px; top:-12px; left: -8px; }
.popupImage * .imgPopup,
.popupImageC * .imgPopup  		{ max-width: 256px; background: url("img/loading.png"); border: 0px; }
.popupImage * .urlPopup,
.popupImageC * .urlPopup  		{ background: url("img/loading.png"); border: 0px; }
.popupImage * .imgLargePopup,
.popupImageC * .imgLargePopup	{ max-width: 480px; background: url("img/loading.png"); border: 0px; }
.popupImageC:hover 			{ opacity: 1 !important; }

.popupVideo 		{ position:absolute; z-index: 4; }
.popupVideo * 	{ background: transparent; padding: 0px; margin: 0px; border: 0px; position: static; }

.popupIframe 				{ position:absolute; z-index: 4; }
.popupIframe * .popupBody 	{ position:relative; padding: 0px; top:-12px; left: -8px; }
.popupIframe * iframe 		{ border: 0px; margin: 0 0 0 0; padding: 0 0 0 0; }

#TemplateBody { position: absolute; right: 0px; }

/* コンテキストメニューのスタイル ------------------------------------------------ */
#contextCopy { background: url("img/copy.png") no-repeat left center; }
#contextHistory { background: url("img/history.png") no-repeat left center; }
#contextThreadItem { background: url("img/threaditem.png") no-repeat left center; }
#contextFolderClosed { background: url("img/folderclosed.png") no-repeat left center; }

.contextMenu {
	position: fixed;
	font: Menu;
	font-size: 8pt;
	color: black;
	cursor: default;
	-moz-user-select: none;
	z-index: 4;
}
.contextMenu * .popupBorder {
	padding: 7px 0px 0px 7px;
	background-color: #f0f0f0;
	border: 1px solid #a0a0a0;
}
.contextMenu * .popupBody {
	position:relative;
	padding: 0px;
	top:-9px;
	left:-4px;
}
.contextMenu * ul { list-style-type: none; padding:0px; margin: 0px; }
.contextMenu * li { padding: 4px 16px 4px 2px; cursor: pointer; background-repeat: no-repeat; }
.contextMenu * li:hover  { background-color: #3399ff !important; color: white; }
.contextMenu * li.checked   {
	background: url("img/checked.png")         no-repeat left center;
}
.contextMenu * li.checked:hover {
	background: url("img/checkedselected.png") no-repeat left center;
}
.contextMenu * li.more  {
	background: url("img/more.png")            no-repeat right center;
	padding-right:24px;
}
.contextMenu * li.more:hover {
	background: url("img/moreselected.png")    no-repeat right center;
}
.contextMenu * li.selectedMore  {
	background: url("img/moreselected.png")    no-repeat right center;
	background-color: #3399ff !important;
	color: white;
	padding-right:24px;
}
.contextMenu * hr {
	width: 100%;
	height: 1px;
	margin: 3px 0px 3px 0px;
	background-color: #a0a0a0;
	border: 0px;
}
.contextMenu * li span {
	padding: 0px 0px 0px 18px;
	background: no-repeat left center;
	white-space: nowrap;
}
.contextMenu * li span.icon {
	padding: 8px 0px 8px 20px;
	background: no-repeat 2px center;
}
.contextMenu * a 		{ text-decoration: none; }
.contextMenu * a:link 	{ color: black; }
.contextMenu * a:visited { color: black; }
.contextMenu * a:hover  	{ color: #3399ff !important; }

/* ダイアログのスタイル ----------------------------------------------------- */
.contentDialog {
	font: message-box;
	color: -moz-FieldText;
	background: -moz-Dialog;
	border: 1px solid black;
	display: none;
	z-index: 3;
}
.contentDialog	div.header {
	-moz-user-select: none;
	background: -moz-Field;
	border-bottom: 1px solid ThreeDShadow;
}
.contentDialog	.icon {
	font-size: 11px;
	float: left;
	cursor: default;
	width: 64px;
	text-align: center;
	padding-top: 34px;
	line-height: 1.5em;
}
.contentDialog	.icon:hover 			{ background-color: #E0E8F6; }
.contentDialog	.selected 				{ background-color: #C1D2EE ! important; }
.contentDialog	.null 					{ clear: left; }
.contentDialog	fieldset 				{ border: 1px solid ThreeDShadow; border-radius: 4px; margin: 1em; }
.contentDialog	legend 					{ -moz-user-select: none; }
.contentDialog	legend + ul 			{ overflow: auto; max-width: 467px; }
.contentDialog	ul 						{ list-style: none; margin: 0px; padding: 2px; }
.contentDialog	li 						{ padding-bottom: 2px; }
.contentDialog	label 					{ white-space: nowrap; }
.contentDialog	span 					{ -moz-user-select: none; }
.contentDialog	a 						{ -moz-user-select: none; }
.contentDialog	input 					{ font: message-box; }
.contentDialog	select					{ font: message-box; }
.contentDialog	input[type="checkbox"],
.contentDialog	input[type="radio"] 	{ vertical-align : middle; }
.contentDialog	ul ul 					{ padding: 0em 0em 0em 2em; }
.contentDialog	p 						{ padding: 0px 1em 0px 1em; text-align: right; }
.contentDialog	div.footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 1em 0px;
	margin: 0px;
	text-align: right;
	border-top: 1px solid ThreeDShadow;
}
.contentDialog	input[type="button"],
.contentDialog	input[type="submit"] {
	padding: 2px;
	width: 8em;
	margin-right: 1em;
}
#Page_About	input[type="button"] {
	padding: 0px;
	width: 8em;
	margin-right: 0px;
	float: right;
}
#Page_About	p { margin: 0.5em 0em 0.5em 0em; padding: 0em; }
#Page_About	.inlineCheckboxLabel {
	float: left;
	margin-right: 1em;
	padding: 0.2em 0em;
}
#dialogOptionsBackground, #dialogAnalyseBackground {
	position: fixed;
	top:  0px;
	left: 0px;
	background: black;
	opacity: 0.5;
	z-index: 2 !important;
}
/* for dialog icon */
#dialogOptionsIcon_General	{ background: url("img/dialog/config/general.png")		no-repeat center 2px; }
#dialogOptionsIcon_General2	{ background: url("img/dialog/config/general.png") 		no-repeat center 2px; }
#dialogOptionsIcon_Special	{ background: url("img/dialog/config/special.png") 		no-repeat center 2px; }
#dialogOptionsIcon_Special2	{ background: url("img/dialog/config/special.png") 		no-repeat center 2px; }
#dialogOptionsIcon_Special3	{ background: url("img/dialog/config/special.png") 		no-repeat center 2px; }
#dialogOptionsIcon_Help		{ background: url("img/dialog/config/bbs2chreader.png") no-repeat center 2px; }
#dialogOptionsIcon_FAQ		{ background: url("img/dialog/config/bbs2chreader.png") no-repeat center 2px; }
#dialogOptionsIcon_About	{ background: url("img/dialog/config/bbs2chreader.png") no-repeat center 2px; }
#dialogAnalysisIcon_Thread	{ background: url("img/dialog/analysis/thread.png") 	no-repeat center 2px; }
#dialogAnalysisIcon_User	{ background: url("img/dialog/analysis/user.png") 		no-repeat center 2px; }
#dialogAnalysisIcon_Link	{ background: url("img/dialog/analysis/external.png") 	no-repeat center 2px; }
#dialogAnalysisIcon_Image	{ background: url("img/dialog/analysis/image.png") 		no-repeat center 2px; }
#dialogAnalysisIcon_Video	{ background: url("img/dialog/analysis/video.png") 		no-repeat center 2px; }

/* エラーページ ------------------------------------------------------------- */
.errorBody { background-color: #fffff4; }
#errorHeader {
	top: 0px;
	left: 0px;
	right: 0px;
	height: 33px;
	padding-left: 24px;
	border-bottom: 1px solid #808080;
	line-height:32px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFEE;
	background-color: #333333;
	z-index: 1;
}
#errorInfo { padding: 10px; color: black; }
#errorTitle { margin: 10px 24px; font-size: 20px; font-weight: bold; }
#errorMessage { font-size: 16px; margin: 1em 0; }
#errorLinks { padding: 0 1em; }
#errorLinks > a { margin: 0.5em; }
#errorIFrame { margin: 10px 20px; border: solid 1px #888; width: calc(100% - 40px); height: calc(100% - 12.5em); }

/* file end */
